// add establishment styles

.headline--addEstablishment {
	margin: 100px 0 30px 70px;
	color: $lightblue;
}

.addEstablishment {
	margin: 20px 0 100px 70px;

	label {
		margin: 10px;
	}
	&__submit {
		@extend .contact__submit;
		text-align: center;
		padding: 5px 10px 5px 20px;
		margin-left: 540px;
	}

	input {
		padding-left: 8px;
	}
}

#description {
	min-width: 500px;
}
