// media queries

@media only screen and (max-width: 990px) {
	.contact {
		margin-left: 30px;
	}

	.makeEnquiry {
		&__form {
			min-width: 300px;
		}
		&__input {
			padding-left: 10px;
		}
	}

	.headline--login {
		font-size: 2em;
		text-align: center;
	}
}

@media only screen and (max-width: 766px) {
	.container-fluid--contact,
	.container-fluid--login {
		width: 100%;
		height: 100%;
		position: relative;
	}

	.container-fluid--contact::after {
		content: "";
		background: url("https://images.unsplash.com/photo-1560687123-268c79127e7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
		opacity: 0.3;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;
		background-position: center center;
	}

	.container-fluid--login::after {
		@extend .container-fluid--contact::after;
		background: url("https://images.unsplash.com/photo-1456176609386-1a154fc264ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1947&q=80");
		background-position: center center;
	}

	.headline--addEstablishment {
		margin-left: 20px;
	}

	.addEstablishment {
		margin-left: 10px;
	}
}

@media only screen and (max-width: 360px) {
	.headline {
		&--home {
			font-size: 2.2em;
			margin-top: 120px;
		}
		&--accommodations,
		&--admin,
		&--enquiries {
			margin-left: 20px;
		}
		&--contact {
			margin-top: 40px;
		}
		&--login {
			margin-left: 10px;
		}
		&--admin {
			margin-bottom: 30px;
		}
	}

	.enquiry {
		margin-left: 10px;
	}

	.hotel {
		&__image {
			margin: 0 0 20px 10px;
		}
	}

	.enquiryButton2 {
		font-size: 1.3em;
		margin: 20px auto 50px auto;
	}

	.contact {
		margin-left: 5px;
		&__input {
			width: 160px;
		}
		&__submit {
			margin-bottom: 100px;
		}
	}

	.login__form {
		margin-left: 10px;
	}
}
