// AccommodationSpecific styles


.hotel {
    &__image {
        max-width: 100%;
        margin: 0 0 0 20px;
    }
    &__name {
        font-weight: bold;
        color: $darkblue;
    }
    &__description {
        font-size: 1.2em;
        max-width: 600px;
        margin: 0 0 20px 0;
    }
    &__price {
        font-weight: bold;
        color: $green;
    }
}

.googleMap {
    max-width: 300px;
    max-height: 220px;
}

.enquiryButton {
    @extend .AddEstablishmentButton;
    margin: 10px 32% 150px 0;
}

.enquiry__container {
    min-width: 700px;
}

.makeEnquiry {
    &__form {
        padding: 60px;
        min-width: 700px;
    }
    &__input {
        margin: 10px 10px 0 10px;
        border-radius: 10px;
        border: 1px solid $lightgrey;
        padding: 4px;
        &--establishment {
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
        }
    }
    &__submit {
        background-color: $lightblue;
        font-size: 1.5em;
        padding: 10px 30px;
        border: 1px solid $lightgrey;
        border-radius: 10px;
        color: white;
        float: right;
        margin: 10px 0 0 0;
        &:hover {
            background-color: $darkblue;
        }
}
}

.enquirySuccess {
    &__message {
        padding: 30px;
        text-align: center;
    }
}