// add establishment styles

.headline--addEstablishment {
    margin: 100px 0 30px 70px;
    color: $lightblue;
}

.addEstablishment {
    margin: 20px 0 100px 70px;

    label {
        margin: 10px;
    }
    &__submit {
        @extend .contact__submit;
        margin: 20px 0 0 30%;
        padding: 10px 25px;
    }
}

#description {
    min-width: 500px;
}