// Card styles

.spinner {
    position: absolute;
    left: 50%;
    margin-top: 50px;
}

.searchbar {
    background-image: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png") top left no-repeat;
    height: 30px;
    padding-left: 10px;
    &--accommodations {
        width: 400px;
        margin: 10px 0 100px 80px;
    }
    &--home {
        width: 600px;
        margin: 15px auto 0 auto;
    }
}

.card {
    margin: 10px 0 60px 0;
    cursor: pointer;
    &__image {
        width: 350px;
        height: 250px;
        object-fit: cover;
        opacity: 0.9;
        &:hover {
            opacity: 1;
        }
    }
    &__name {
        font-size: 1.5em;
        font-weight: bold;
        color: $lightblue;

        &:hover{
            color: $darkblue;
        }
    }
    &__price {
        font-size: 2em;
        margin-left: 247px;
        font-weight: bold;
        color: $green;
        margin-top: -25px;
    }
}

.card-deck {
    margin: 0 0 100px 30px;
}