// Form styling

//Variables
$mada: 'Mada', sans-serif;  
$unica: 'Unica One', cursive;
$lightblue: #3083ae;
$darkblue: #09689a;
$lightgrey: #616160;
$darkgrey: #393939;

label {
    font-size: 1.2em;
}