// home page styles

.homePage {
    background-image: url("https://images.unsplash.com/photo-1553023157-794168275ba5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 935px;
    margin-top: -41px;
}

.headline--home {
    text-align: center;
    margin: 200px auto auto auto;
}

.searchbar {
    width: 100%;
    max-width: 600px;
    margin: 10px auto 0 auto;
}