// Login styles

.headline {
	&--login {
		margin-left: 20%;
		margin-top: 100px;
	}
}

.login {
	margin: 20px;
	label {
		font-size: 1.1em;
	}
	&__form {
		margin-left: 23%;
	}
	&__input {
		@extend .contact__input;
		padding: 5px;
	}

	&__button {
		@extend .contact__submit;
		margin: 20px 0 0 100px;
		padding: 10px 25px;
	}
}
