// media queries


@media only screen and (max-width: 990px) {
    .sideImage {
        display: none;
    }

    .contact {
        margin-left: 30px;
    }

    .wrapper--contact, .wrapper--login {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .wrapper--contact::after {
    content: "";
    background: url("https://images.unsplash.com/photo-1560687123-268c79127e7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

  .wrapper--login::after {
      @extend .wrapper--contact::after;
      background: url("https://images.unsplash.com/photo-1456176609386-1a154fc264ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1947&q=80");
  }

}


@media only screen and (max-width: 360px) {
    .headline {
        &--home {
            font-size: 2.2em;
            margin-top: 120px;
        }
        &--accommodations {
            margin-left: 20px;
        }
    }

    .hotel {
        &__image {
            margin: 0 0 20px 10px;
        }
}
.enquiryButton2 {
    font-size: 1.3em;
    margin: 20px auto 50px auto;
}
}